body{
    background-color: rgba(0, 0, 0, 0.336);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-bottom: 50px ;
    background-color: #0303;

}

.time-left , .menu-score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-lives{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 600px;
}

.panel-row{
    display: flex;
}

.squere{
    border: 1px solid rgba(0, 0, 0, 0.233);
    height: 150px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0.301);
}

.enemy{
    background-image: url(../img/ralph.png);
    background-size: cover;
}

